#
# Are you tempted to edit this file?
# Go ahead :)
#

.ensime_cache
/test_data
/logs


/lib/*.jar


# Developer specific properties
/build.properties
/buildcharacter.properties

# sbt's target directories
/target/
/project/target/
/project/project/target/
/project/project/project/target/
/test/macro-annot/target/
/build-sbt/
local.sbt
