.root {
    -fx-base: #3f474f;
    -fx-accent: #e7eff7;
    -fx-default-button: #7f878f;
    -fx-focus-color: #efefef;
    -fx-faint-focus-color: #efefef22;
    -fx-focused-text-base-color : ladder(
            -fx-selection-bar,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
        );
    -fx-focused-mark-color : -fx-focused-text-base-color ;
}

.text-input:focused {
    -fx-highlight-text-fill: ladder(
        -fx-highlight-fill,
        -fx-light-text-color 45%,
        -fx-dark-text-color  46%,
        -fx-dark-text-color  59%,
        -fx-mid-text-color   60%
    );
}


.check-box {
    -unchecked-color: #8A8A8A;
    -checked-color: #0faaff;

    -fx-text-background-color: #3f474f;
    -fx-shadow-highlight-color: BLACK;
    -fx-text-box-border: #e7eff7;
}

.check-box-blahblah .box-container {
    -fx-shape: "M 400 100 L 400 100 A 50 50 0 1 1 400 250 A 50 50 0 1 1 400 100 ";
    -fx-padding: 10;
}

.check-box .box,
.check-box:indeterminate .box,
.check-box:indeterminate:selected .box {
    -fx-background-color: TRANSPARENT;

    -fx-border-color: -unchecked-color;
    -fx-border-style: solid;
    -fx-border-radius: 2;
    -fx-border-width: 2;
}

.check-box:selected .box {
    -fx-background-color: -checked-color;

    -fx-border-color: -checked-color;
    -fx-text-fill: -checked-color;
}

.check-box .mark {
    -fx-shape: "M384 690l452-452 60 60-512 512-238-238 60-60z";
    -fx-max-width: 15;
    -fx-max-height: 12;

    -fx-background-color: TRANSPARENT;

    -fx-border-color: TRANSPARENT;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

.check-box .indeterminate-mark{
    -fx-background-color: -checked-color;
    -fx-background-radius: 2;
    -fx-border-width: 0;
    -fx-max-width: 10;
    -fx-max-height: 10;
}

.check-box:selected .mark {
    -fx-background-color: WHITE;
    -fx-border-color: WHITE;
}



.slider {
    -default-thumb: #0faaff;
    -default-track: #CCCCCC;

    -fx-focus-color: #e7eff7;
    -fx-shadow-highlight-color: BLACK;
}

.slider .track,
.slider:vertical .track {
    -fx-background-color: -default-track;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-pref-width: 2px;
    -fx-pref-height: 2px;
}

.slider .thumb,
.slider:focused .thumb {
    -fx-background-color: -default-thumb;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}

.slider .colored-track {
    -fx-background-color: -default-thumb;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
}

.slider .slider-value {
    -fx-stroke: WHITE;
    -fx-font-size: 10;
}

.slider .animated-thumb {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: -default-thumb;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}

.slider:min .thumb,
.slider:min:focused .thumb {
    -fx-background-color: -default-track;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}

.slider:min .animated-thumb {
    -fx-background-color: -default-track;
    -fx-background-radius: 50% 50% 50% 0%;
    -fx-background-insets: 0;
}
